<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CellNetSim</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>CellNetSim</h1>
        <section id="interface-main">
            <div class="left-column">
                <div style="position:relative;">
                    <canvas id="simulation" width="500" height="500"></canvas>
                    <h2 style="margin-top:5px;">Components</h2>
                    <div id="component-control">
                        <button onclick="event.preventDefault(); addBaseStation();">
                            Add Base Station
                        </button>
                        <button onclick="event.preventDefault(); addUserEquipment();">
                            Add End User
                        </button>
                    </div>
                    <div id="components">
                        <div id="icon-tray">
                            <!-- {% for icon in ['fa-tower-cell', 'fa-mobile']%}
                            <span class="font-awesome-icon fas fa-solid {{icon}}"></span>
                            {% endfor %} -->
                        </div>
                        <p>Drag created Base Stations/End Users onto the simulation with mouse click.</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div>
                    <h2>Controls</h2>
                    <form id="controls">
                        <button onclick="event.preventDefault(); control('start')">
                            <i class="fas fa-play"></i> Start Simulation
                        </button>
                        <!--
                        <button onclick="event.preventDefault(); control()">
                            <i class="fas fa-pause"></i> Pause
                        </button>
                        -->
                    </form>
                </div>
                <div>
                    <h2>Configuration</h2>
                    <form id="configuration">
                        <fieldset>
                            <legend>Grid Size</legend>
                            <label for="grid-height">Height (px)</label>
                            <input type="text" name="grid-height" id="grid-height" value="500">
                            <label for="grid-width">Width (px)</label>
                            <input type="text" name="grid-width" id="grid-width" value="500">
                            <!--
                            <label for="grid-ppm">Pixels per Meter</label>
                            <input type="text" name="grid-ppm" id="grid-ppm" value="1">
                            -->
                        </fieldset>
                        <fieldset>
                            <legend>Cellular Network</legend>
                            <label for="network-type">Network Type</label>
                            <select name="network-type" id="network-type">
                                <option value="LTE_20" selected="true">4G LTE</option>
                                <option value="NR_100">5G</option>
                            </select>
                        </fieldset>
                        <button type="submit">Configure</button>
                    </form>
                </div>      

                <div>
                    <h2>Details</h2>
                    <div id="details">
                        <div id="details-device"></div>
                        <p id="details-default">Select a device to see details</p>
                    </div>
                </div>
            </div>
        </section>

        <div>
            <h2>Logs</h2>
            <div id="logs">
                {% for log in ['ue1 sending packet to ue2 via bs1', 'ue2 moved to bs2'] %}
                <p>{{log}}</p>
                {% endfor %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://kit.fontawesome.com/c663cc9ee5.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', path='/js/index.js') }}"></script>
        <script src="{{ url_for('static', path='/js/api.js') }}"></script>
        <script src="{{ url_for('static', path='/js/canvas.js') }}"></script>
        <script src="{{ url_for('static', path='/js/drag-drop.js') }}"></script>
    </body>
</html>
