body {
}

h2{
    margin-bottom: 5px;
}
p{
    margin-top: 5px;
}

.font-awesome-icon {
    cursor: pointer;
    width: 18px !important;
    padding: 2px;
}
.font-awesome-icon.selected{
    color: white;
}

.font-awesome-icon::before{
    font-size:1em;
}

#interface-main{
    display:flex;
}
#interface-main .right-column{
    padding-left: 20px;
    width: 300px;
}

#simulation {
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
    position: relative;
    background-color: #888686;
}

#component-control{
    margin-bottom:5px;
}
#icon-tray{
    padding: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    min-height:50px;
}

#configuration fieldset{
    display:flex;
}
#configuration input{
    max-width:100px;
    margin-right:5px;
}
#configuration label{
    margin-right:5px;
}
#configuration button{
    margin-top:5px;
}

#details-device p{
    margin-bottom:10px;
}
#details-device p:last-of-type{
    margin-bottom:5px;
}
#ue-link-details{
    padding-left:20px;
    margin:0;
}

#logs{
    height:200px;
    border: 1px solid gray;
    overflow-y:auto;
    padding:10px;
}
#logs p{
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
}
