body {

}

#simulation {
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
    position: relative;
    background-color: #888686;
}

.font-awesome-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
