body {
}
h1{
    margin-bottom: 0;
}
h1 + p{
    margin-bottom: 1.5em;
}
h2{
    margin-bottom: 5px;
}
h1, h2{
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    margin-top: 5px;
}
form label{
    vertical-align: top;
}
footer{
    text-align:right;
    position:absolute;
    bottom:5px;
    right:8px;
    font-family:monospace;
}

.font-awesome-icon {
    cursor: pointer;
    width: 18px !important;
    padding: 2px;
}
.font-awesome-icon.selected{
    color: red;
    --shadow-size1: 1px;
    --shadow-size2: -1px;
    --shadow-color: white;
    text-shadow:
    var(--shadow-size2) var(--shadow-size2) 0 var(--shadow-color), /* Top-left shadow */
    var(--shadow-size1) var(--shadow-size2) 0 var(--shadow-color),  /* Top-right shadow */
    var(--shadow-size2) var(--shadow-size1) 0 var(--shadow-color),  /* Bottom-left shadow */
    var(--shadow-size1) var(--shadow-size1) 0 var(--shadow-color);  /* Bottom-right shadow */
}
.font-awesome-icon:hover{
    --shadow-size1: 1px;
    --shadow-size2: -1px;
    --shadow-color: white;
    text-shadow:
    var(--shadow-size2) var(--shadow-size2) 0 var(--shadow-color), /* Top-left shadow */
    var(--shadow-size1) var(--shadow-size2) 0 var(--shadow-color),  /* Top-right shadow */
    var(--shadow-size2) var(--shadow-size1) 0 var(--shadow-color),  /* Bottom-left shadow */
    var(--shadow-size1) var(--shadow-size1) 0 var(--shadow-color);  /* Bottom-right shadow */
}

.font-awesome-icon::before{
    font-size:1em;
}

#interface-main{
    display:flex;
}
#interface-main .right-column{
    padding-left: 20px;
    width: 300px;
}

#simulation {
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
    position: relative;
    background-color: lightgray;
}

#component-control{
    margin-bottom:5px;
}
#icon-tray{
    padding: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    min-height:50px;
}

form:not(#controls){
    padding:2px 5px;
    margin:5px 0px;
    background:whitesmoke;
}
#configuration fieldset{
    display:flex;
}
#configuration input{
    max-width:100px;
    margin-right:5px;
}
#configuration label{
    margin-right:5px;
}
#configuration button{
    margin:5px 0px;
}

#details{
    /* background: whitesmoke; */
    padding: 1px 5px 10px 10px;
    border: 1px solid gray;
}
#details-device p{
    margin-bottom:10px;
}
#details-device p:last-of-type{
    margin-bottom:5px;
}
#ue-link-details{
    margin-top:10px;
}
#ue-link-details p{
    margin:0;
}
#ue-link-details span.stats{
    font-family:monospace;
}

#logs{
    resize:vertical;
    min-height:200px;
    max-height:70vh;
    border: 1px solid gray;
    overflow-y:auto;
    padding:10px;
}
#logs p{
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
}
